@use "../assets/mixin.scss" as mixin;

.summonerWrapper{
    margin-top: 100px;
    padding-inline: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111;
    box-shadow: 0px 2px 10px 10px #111111;    
    width: 94%;
    margin-inline: auto;

}

.summonerInfo{

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    gap: 20px;

    img{
        width: 80px;
    }

    h2{
        margin: 0;
        @include mixin.font-size(+24px);
    }

    &__name{
        text-align: center;

        span{
            @include mixin.font-size(+3px)
        }
    }
}

.division{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    @include mixin.font-size(-5px);

    img{
        width: 100px;
    }

    span{
        margin-top: -10px;
    }

    p{
        margin: 0;
    }

    &_stats{
        text-align: center;
        margin-right: 10px;
    }

    &_statsWin{
        @include mixin.font-size(-2px);
        b{
            color: mixin.$color-blue;
        }
    }

    &_statsLose{
        @include mixin.font-size(-2px);
        b{
            color: mixin.$color-red;
        }
    }
}